name: Deploy App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set Up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          extensions: mbstring, bcmath, intl
          tools: composer

      - name: Install Dependencies
        run: composer install --no-dev --optimize-autoloader

      - name: Install Node.js and Build Frontend
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - run: |
          npm ci
          npm run build

      # Deploy to Hostinger
      - name: Deploy to Hostinger
        env:
          SSH_HOST: ${{secrets.SSH_HOST}}
          SSH_USER: ${{secrets.SSH_USER}}
          DEPLOY_DIR: ${{secrets.DEPLOY_DIR}}
        run: |

          # Start the SSH agent
          eval "$(ssh-agent -s)"

          # Add the SSH private key
          echo "${{ secrets.HOSTINGER_SSH_KEY }}" | tr -d '\r' | ssh-add -

          rsync -azP --delete \
            --exclude=".env" \
            --exclude="storage/" \
            --exclude="node_modules/" \
            --exclude=".git/" \
            -e "ssh -p 65002 -o StrictHostKeyChecking=no" \
            ./ $SSH_USER@$SSH_HOST:$DEPLOY_DIR

      - name: SSH to Hostinger
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{secrets.SSH_HOST}}
          username: ${{secrets.SSH_USER}}
          key: ${{ secrets.HOSTINGER_SSH_KEY }}
          port: 65002
          script: |
            cd ${{secrets.DEPLOY_DIR}}
            echo "Run database migrations and seeding"
            php artisan migrate --force

            echo "Settings rights"
            chmod -R 775 storage bootstrap/cache

            echo "Cache config, routes and views"
            php artisan config:cache
            php artisan route:cache
            php artisan view:cache

            echo "Deployment complete"
